body{
    margin:0;
    font-family:'Courier New', Courier, monospace;
}
html{
    display:block;
}

nav li{
    float:left;
}


nav ul{
    list-style-type:none;
    display:block;
    overflow:hidden;
}

nav li a{
    padding:14px 16px;
    background-color: rgb(41,190,185,255);
    font-size:70px;
    color:white;
    text-decoration: none;
    display:flex;
    flex-direction:column;
    text-align: center;
}

nav li h1{
    background-color: palegoldenrod;
    border-color:seagreen;
    color:white;
    background-color: rgb(41,190,185,255);
    padding:6px 16px;
    font-size:50px;
}

nav li a:hover {
    background-color: #42dbc1;
}

nav{
    border-color:rgb(41,190,185,255);
    border-style: solid;
    background-color:rgb(41,190,185,255);
}

.info ul{
    background-color:white;

}

.info ul li{
    background-color: white;
    margin-right:800px;
    border-radius: 10px;
    float:center;
    font-size:45px;
    width: 720px;
    height: 200px;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    
}

.info ul li h2{
    color:black;
    text-decoration:underline;


}
img{
    display: inline-block;
    height: 200px;
    margin-left: 0px;

}
.logo{
    height: 100%;
    margin-left: 0px;
}
h3{
    color: black;
    text-decoration: none;
}
.sub{
    background-color: black;
    color:red;
}

.sub1{
    position:relative;
    top:200px;
    left:0px;
}
.sub2{
    position:relative;
    top:00px;
    left:250px;
}
.sub3{
    position:relative;
    top:-200px;
    left:500px;
}
.logotwo{
    position: relative;
    width:700px;
    height:700px;
    left:1000px;
    top: -850px;
}