body{
    margin:0;
    font-family:'Courier New', Courier, monospace;
    z-index: 1;
}
html{
    display:block;
}

nav li{
    float:left;
}


nav ul{
    list-style-type:none;
    display:block;
    overflow:hidden;
}

nav li a{
    padding:14px 16px;
    background-color: rgb(41,190,185,255);
    text-align: center;
    font-size:70px;
    color:white;
    text-decoration: none;
    display:flex;
    flex-direction:column;
    text-align: center;
}

nav li h1{
    background-color: palegoldenrod;
    border-color:seagreen;
    color:white;
    background-color: rgb(41,190,185,255);
    padding:6px 16px;
    font-size:50px;
}

nav li a:hover {
    background-color: #42dbc1;
}

nav{
    border-color:rgb(41,190,185,255);
    border-style: solid;
    background-color:rgb(41,190,185,255);
}

.faq{
    top: 20px;
    margin:50px;
    float:center;
    padding:10px;
    border-style:solid;
    border-radius: 10px;
    border-color: black;
    max-width:1000px;
    text-align: center;
    font-size: 20px;
}
.faq hr{
    height:3px;
    background-color:black;   
}


.bar{
    background-color:black;
    height:5000px;
    position: absolute;
    bottom: 0px;
}
#sidebar {
    position: fixed;
    top: 162px;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color:#333;
    padding: 20px;
    color: white;
    font-size: 15px;
}
.faqbox{
    padding-left: 720px;
    margin-top: -180px;
    z-index: 1px;
}